signkey: {{ env['signkey'] }}
enckey: {{ env['enckey'] }}
authurl: https://auth.coolquotes.xyz/auth
acls:
  akerl-coolquotes-share/happyfriday:
  - coolquotes/happyfriday
  akerl-coolquotes-share/dcs:
  - coolquotes/dcs
